:root {
  --color-primary :#254B59;
  --color-neutral: #F2F2E9;
  --color-secondary: #332821;
  --color-accent: #965C27;
  --color-light-blue: #7B9EA6;

  --font-primary: "Catamaran", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3 {
  font-family: var(--font-primary);
  font-weight: bold;
  color: var(--color-primary);
}

h4, h5 {
  font-family: var(--font-primary);
  font-weight: normal;
  color: var(--color-primary);
}

/* nav list formatting */

ul {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-weight: normal;
  font-style: normal;
  list-style-type: square;
  text-decoration: none;
}

/* products nav list formatting */

ul {
  font-family: var(--font-primary);
  font-weight: normal;
  font-style: normal;
}

/* product card list formatting */

dl {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-weight: normal;
  font-style: normal;
}

dt {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-weight: bold;
  font-style: normal;
}

dd {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  font-weight: normal;
  font-style: normal;
}

/* product card list formatting */

a {
  font-family: var(--font-primary);
  color: var(--color-neutral);
  font-weight: bold;
  font-style: normal;
}

strong {
  font-family: var(--font-primary);
}

blockquote {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-weight: normal;
  font-style: normal;
}

cite {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-weight: normal;
  font-style: normal;
}

mark {
  background-color: var(--color-light-blue);
}
