.uppercase {
  text-transform: uppercase;
}

.privacy-terms {
  background-color: var(--color-secondary);
}

.privacy,
.pipe,
.social-icons {
  color: var(--color-neutral);
}


a {
  text-decoration: none;
}

.social-icons {
  float: right;
}
