.btn {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-neutral);
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-accent);
}
