.btn {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-neutral);
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn:focus {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-neutral);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.btn-ghost:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-neutral);
}

.btn-ghost:focus {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-neutral);
}

.profile-btn {
  font-weight:lighter;
  border-radius: 4px 4px 0 0;
}

.profile-btn:hover {
  border-radius: 4px 4px 0 0;
}

.profile-btn-icon {
  padding: .5em;
}

.cart, .user {
  width: 100px;
}
