/* Banners section */

.hidden-content-2 {
  display: block;
}

.hidden-content-1 {
  display: none;
}

.content {
  vertical-align: middle;
}

.yellow-star {
  color: #BF7631;
}

.grey-star {
  color: #B7B7B7;
}

.collections-banner img {
  height: 100%;
  object-fit: cover;
}

.benefits {
  padding-left: 1em;
  columns: 2;
}

/* Side Nav Section */

li a {
  text-decoration: none;
  list-style-type: none;
  color: var(--color-secondary);
  font-weight: normal;
  max-width: 50em;
}

nav li a.highlight {
   color: var(--color-neutral);
   background-color: var(--color-primary);
}

.current-page {
  text-decoration: underline;
}

/* Reviews Section */

.profile {
  background-color: var(--color-accent);
  border-radius: 50%;
  color: var(--color-neutral);
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.unsername {
  display: inline-block;
}

/* Breadcrumbs Section */



/* Banners Section Media Q */

@media screen and (min-width: 38em) {
  .hidden-content-1 {
    display: block;
  }

  .hidden-content-2 {
    display: none;
  }
}
