.hidden-content-2 {
  display: block;
}

.hidden-content-1 {
  display: none;
}

.content {
  vertical-align: middle;
}

@media screen and (min-width: 38em) {
  .hidden-content-1 {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .hidden-content-2 {
    display: none;
  }
}
